/.venv-3.10/
/.venv-build/
/.venv/
*/logs/
logs/
/bulid/
*/node_modules/
*/dist/
dist/
/out/
/data/
/.idea/
**/__pycache__/
*.pyc
*/.claude/
*/*cache/
*/.gakumas_rl_cache/
/train/gakumas_rl/docs/help_content_pages/
/train/gakumas_rl/trajectories/
/.cache/
/.chrome-headless/
/.claude/
/.jbeval/
/tmp_refs/
/train/gakumas_rl/.claude/
/train/gakumas_rl/.gakumas_rl_cache/
/nuitka-crash-report.xml
/tests/_artifacts/*
/train/gakumas_rl/*.egg-info/
E:\\Projects\\gkmas-auto\\.git\\hooks/
*/.DS_Store
.DS_Store
/tests/produce_gameplay_captures/*
_debug*
/train/gakumas_rl/gakumas_rl/webapp/skill_card/*.png
/train/gakumas_rl/gakumas_rl/test_*.py
