[submodule "assets/gakumasu-diff"]
	path = assets/gakumasu-diff
	url = https://github.com/vertesan/gakumasu-diff.git
[submodule "assets/GakumasTranslationData"]
	path = assets/GakumasTranslationData
	url = https://github.com/chinosk6/GakumasTranslationData.git
[submodule "train/gakumas_rl"]
	path = train/gakumas_rl
	url = https://github.com/Pigeon-Server/gakumas-rl.git
[submodule "vendor/GkmasObjectManager"]
	path = vendor/GkmasObjectManager
	url = https://github.com/AllenHeartcore/GkmasObjectManager.git
	shallow = true
