opencv-python
onnxruntime-directml; platform_system == "Windows"
onnxruntime==1.24.4
pyautogui
loguru
numpy
adbutils
uiautomator2
av
fastapi
uvicorn[standard]
starlette
pywin32; platform_system == "Windows"
rapidfuzz
rapidocr==3.2.0
pyobjc-framework-Vision; platform_system == "Darwin"
peewee
openai
pyyaml
pywebview; platform_system == "Windows"
pywebview; platform_system == "Darwin"
pywebview[pyside6]; platform_system == "Linux"
requests
rich
cryptography
protobuf
pandas
UnityPy
Pillow
pydub
jinja2