opencv-python
torch
torchvision
torchaudio
ultralytics
pyautogui
loguru
numpy
adbutils
fastapi
uvicorn[standard]
git+https://github.com/openai/CLIP.git
starlette
pywin32
pillow
paddleocr==2.10.0
paddlepaddle==3.0.0
scikit-learn
matplotlib